
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/stereospead_VST3.lastbuildstate
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/link.write.2u.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/stereospead_VST3.log
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.vst3.recipe
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.vst3
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.pdb
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.lib
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.ilk
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.exp
Builds/VisualStudio2022/x64/Debug/VST3/stereospead.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/VST3/resources.res
Builds/VisualStudio2022/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead_StandalonePlugin.log
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead.pdb
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead.ilk
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead.exe.recipe
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead.exe
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereospead.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/stereospead_StandalonePlugin.lastbuildstate
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/stereosp.362FF119.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/stereospead_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/Shared Code/stereospead_SharedCode.log
Builds/VisualStudio2022/x64/Debug/Shared Code/stereospead.pdb
Builds/VisualStudio2022/x64/Debug/Shared Code/stereospead.lib.recipe
Builds/VisualStudio2022/x64/Debug/Shared Code/stereospead.lib
Builds/VisualStudio2022/x64/Debug/Shared Code/stereospead.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/stereospead_SharedCode.lastbuildstate
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/Lib.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/stereosp.EEA8BFFE.tlog/CL.10848.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_RTAS_utils.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_RTAS_4.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_RTAS_3.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_RTAS_2.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_RTAS_1.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/BinaryData.obj
Builds/VisualStudio2022/stereospead_VST3.vcxproj.user
Builds/VisualStudio2022/stereospead_VST3.vcxproj.filters
Builds/VisualStudio2022/stereospead_VST3.vcxproj
Builds/VisualStudio2022/stereospead_StandalonePlugin.vcxproj.user
Builds/VisualStudio2022/stereospead_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2022/stereospead_StandalonePlugin.vcxproj
Builds/VisualStudio2022/stereospead_SharedCode.vcxproj.user
Builds/VisualStudio2022/stereospead_SharedCode.vcxproj.filters
Builds/VisualStudio2022/stereospead_SharedCode.vcxproj
Builds/VisualStudio2022/stereospead.sln
Builds/VisualStudio2022/resources.rc
Builds/VisualStudio2022/.vs/stereospead/v17/Solution.VC.db
Builds/VisualStudio2022/.vs/stereospead/v17/ipch/AutoPCH/df00e4eb437dabc6/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/stereospead/v17/ipch/AutoPCH/a62ca38173dc4fc9/PLUGINEDITOR.ipch
Builds/VisualStudio2022/.vs/stereospead/v17/fileList.bin
Builds/VisualStudio2022/.vs/stereospead/v17/Browse.VC.db
Builds/VisualStudio2022/.vs/stereospead/v17/.suo
Builds/VisualStudio2022/.vs/stereospead/FileContentIndex/88dc2766-7cea-44be-afcd-83fb846b27fe.vsidx
Builds/VisualStudio2022/.vs/stereospead/FileContentIndex/4a6fecf8-e591-4936-914c-d5879ae41a6b.vsidx
Builds/VisualStudio2022/.vs/stereospead/FileContentIndex/2021a979-14f9-445e-b5a7-ef942c8ec9de.vsidx
Builds/VisualStudio2022/.vs/stereospead/FileContentIndex/1d42e6a0-10e9-4afc-9552-1a749e58ea35.vsidx
Builds/VisualStudio2022/.vs/stereospead/FileContentIndex/0476c52c-74f9-49d3-b5a7-2c08ed90be28.vsidx
